.Character{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

h1{
    margin: 20px;
    text-align: center;
}

.card-body{
    display: flex;
    flex-direction: column;
}

.card {

    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    z-index: 10;           /* Số lớn để nổi lên trên */
    position: relative;    /* Tạo stacking context riêng */
}

.Navigate{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.custom-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.card-container {
    flex: 0 0 250px; /* card rộng 250px, bạn có thể chỉnh */
}
